*{
	font-family: 'EB Garamond', serif;
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	min-height:100vh;
	background:linear-gradient(65deg,rgb(255, 229, 217),rgb(255, 202,212),rgb(244, 172, 183));
	display:flex;
	flex-direction:column;
	align-items:center;
}
h1{
	color:black;
	margin-top:100px;
	text-align: center;
}
form{
	margin-top:50px;
	background:#fff;
	box-shadow:-3px 6px 4px #222;
}
button {
	border: none;
	width:60px;
	height:35px;
	text-align: center;
	font-size: 17px;
	margin-left: 600px;
	transition-duration: 0.4s;
	cursor: pointer;
  }


button:hover {
	background-color: #57bae7d8;
	color: white;
  }
  
input{
	width:50%;
	height:40px;
	border: none;
	border-radius: 10px;
	padding:0 5px;
	font-size: 19px;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: white; 
	
}
ul{
	width:40%;
	float: right;
	height:40%;
	background:rgb(103, 170, 249);
	color:black;
	outline:none;
	text-align: center;
	cursor:pointer;
	font-size:19px;
}
ul{
	list-style:none;
	width:500px;
}
ul{
	width:50%;
	background:transparent;
	height:40px;
	line-height:40px;
	padding:0 5px;
	position:relative;
	display:block;
	margin:5px 0;
	border-radius: 10px 10px 10px 10px;
}

ul input button{
	 position:absolute;
	 top:0;
	 right:0;
	 width:50px;
	 text-align:center;
	 background:rgb(103, 170, 249);
	 font-size: 19px;
	 font-style:italic;
	 border-radius: 10px 10px 10px 10px;
}
ul input{
	width: 50%;
	height: 40%;
	text-align: center;
	font-size: 19px;
}
ul{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
ul li.checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
  }
#checked{
	text-decoration: line-through;
	width: 10px;
	height: 10px;
  }
