* {
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: black;
  margin-top: 100px;
  text-align: center;
}
body {
  min-height: 100vh;
  background: linear-gradient(
    65deg,
    rgb(255, 229, 217),
    rgb(255, 202, 212),
    rgb(244, 172, 183)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
  font-size: 19px;
  margin-left: 10px;
  padding: 8px;
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  width: 450px;
  height: 40px;
  border: none;
  padding: 0 5px;
  font-size: 19px;
  background-color: white;
  text-align: center;
  border-radius: 7px;
}

#style {
  max-width: 950px;
  background: #ffff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
#new {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}
#new:hover {
  border-radius: 7px;
  background: rgb(138, 189, 255);
  padding: 10px 10px 10px 10px;
}
.remove {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 8px 8px 8px;
  border-radius: 7px;
}
.remove:hover {
  background: rgba(255, 9, 9, 0.918);
}

li .check {
  width: 23px;
  height: 23px;
  white-space: normal;
  float: left;
  position: relative;
  margin: 0px 15px 0px;
  
}
.Checked {
  text-decoration: line-through;
  color: gainsboro;
  display: block;
}

#ul1 {
	width: 500px;
	height: 50%;
	white-space: normal;
	position: relative;
	margin: 0px 15px 0px;	
	border-radius: 7px;
	text-align: left;
	margin-top: 10px;
	background-color: white;
	transition: 12s;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	
	font-size: 18px;
}

.btn1 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "EB Garamond", serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 15px 15px;
  border-radius: 7px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  font-size: large;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn1:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 7px;
  left: 0;
  
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
}

.btn1:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.btn1:after {
  background-color: #FFFFFF;
}

.btn1 span {
  z-index: 1;
  position: relative;
  
}


.material-symbols-outlined {
  margin-left: auto;
  margin-top: auto;
}

.material-symbols-outlined:hover{
	color: aliceblue ;
}
